@import "../../App.scss";

.developer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2px;
  color: hsl(0, 15%, 94%); 
  background-color: $clr-orange;
}

.developer {
  text-align: center;
  padding: 10px; /* Add padding for better spacing */
}

.developer img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.developer p {
  margin-bottom: 5px; 
  font-weight: 700;
}

.meet-team {
  text-align: center;
  width: 100%;  
}

.meet-team h2 {
  font-size: 1.5em;
  color: #fff;
}

.developer a {
  font-size: 20px;
  margin: 0 5px;
}

/* Styling for social media icons */
.developer .social-icon {
  font-size: 24px; /* Adjust the font size for social media icons */
  margin-top: 5px; /* Add margin to separate names and social media icons */
}

/* Specific styling for each social media icon */
.developer .facebook-icon { color: #4267B2; }
.developer .instagram-icon { color: #e4405f; }
.developer .github-icon { color: $clr-black; }
.developer .xtwitter-icon { color: $clr-black; }
.developer .linkedin-icon { color: #4267B2; }

/* Responsive design */
@media (max-width: 768px) {
  .developer-info {
    flex-direction: column;
    align-items: center;
  }
  .developer {
    margin-bottom: 10px;
  }
  .developer img {
    width: 75px;
  }
  .meet-team {
    margin-top: 10px;
  }
  .meet-team h2 {
    font-size: 1.2em;
  }
  .developer a {
    font-size: 18px;
  }
  .developer .social-icon {
    font-size: 20px; /* Adjust the font size for social media icons in smaller screens */
    margin-top: 3px; /* Adjust margin for smaller screens */
  }
}
